/*Header Styles*/ 
*{ font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
header{
    display: flex;
    justify-content: center;
   
}
.page-title{
    text-align: justify;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}






/*Quiz sheet styles*/
main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 3vw;
    text-align: center;
}
.choice{
    font-style: italic;
}
.choice:hover{
    background-color: rgb(126, 30, 30,.4);
    
}
#start-button-container{
    display: flex;
    align-items: center;
}
.start-button{
    border-radius: 30%;
    border: 20px;
    background-color: rgb(126, 30, 30,.4);
    margin:auto;
}